* {
    font-family: 'Nunito', sans-serif;
    
}

body {
    background-color: #e9eaf5;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 45vh);
    grid-template-rows: 30vh 40vh;
    background-color: #ffffff;
    border-style: hidden;
    border-radius: 10px;
    height: 70vh;
    width: 90vh;

    margin: auto;
    justify-content: center;
    align-content: center;
}

.info {
    grid-column: 1 / 3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    align-self: center;
    padding: 50px;
}

.info h2 {
    color: #4ab5ce;
}

.info h3 {
    color: #b9e042;
}

.info p {
    color: #b7c3e2;
    line-height: 10px;
}

.subscription {
    grid-column: 1 / 2;

    background-color: #4ab5ce;
    border-bottom-left-radius: 10px;
    color: #ffffff;
    padding: 35px;
}

.subscription b {
    font-weight: 700;
    font-size: 30px;
}

.subscription p {
    line-height: 10px;
}

.buttonSignUp {
    background-color: #b9e042;
    color: #ffffff;
    border: hidden;
    border-radius: 4px;
    padding: 2vh 12vh;
}

.about {
    grid-column: 2 / 3;

    background-color: #4fbfd8;
    border-bottom-right-radius: 10px;
    color: #ffffff;
    padding-top: 5vh;
    padding-left: 7vh;
    padding-right: 13vh;
    text-align: left;
}

.about p {
    font-weight: 200;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 40vh;
        grid-template-rows: 40vh 30vh 30vh;
        height: 100vh;
        width: 40vh;
        border-radius: 6px;

        align-content: center;
        justify-content: center; 
    }

    .info {
        grid-row: 1 / 2;
        height: 40vh;
        width: 40vh;
        padding-left: 280px;
        font-size: smaller;
        margin-top: 20px;
        margin-left: 10px;
    }

    .info p {
        padding-right: 29px;
        line-height: 20px;
    }

    .subscription {
        grid-row: 2 / 3;
        height: 30vh;
        width: 40vh;
        margin-left: 271px;

        font-size: smaller;
        border-bottom-left-radius: 0px;
        padding: 0px;
    }

    .subscription h3 {
        margin-left: 25px;
    }

    .subscription b {
        margin-left: 25px;
    }
    
    .subscription p {
        margin-left: 25px;
    }
    
    .buttonSignUp {
        margin-left: 25px;
        margin-top: 10px;
    }

    .about {
        grid-row: 3 / 4;
        height: 30vh;
        width: 40vh;
        font-size: smaller;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 1px;
        margin-right: 270px; 
    }

    .about h3 {
        margin-left: 20px;
        padding: 8px;
    }

    .about p {
        margin-left: 25px;
        margin-right: 29px;
        padding: 2px;
    }
}
